<!DOCTYPE html>
<html>
<head>
  <title>SdekCalc</title>
  <%= stylesheet_link_tag    "sdek_calc/application", media: "all" %>
  <%= javascript_include_tag "sdek_calc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
